<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.TTA" android:installLocation="auto">
  <application android:label="TTA.Android"></application>
  <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="30" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
  <queries>
    <intent>
      <action android:name="android.intent.action.DIAL" />
      <data android:scheme="tel" />
    </intent>
  </queries>
</manifest>